<h1>Your Text Analysis: </h1>

<h2>Number of Words: <%=@count%> </h2>

<h2>Vowels: <%=@count_vowels%></h2>

<h2>Consonants: <%=@count_consonants%></h2>

<h2>Most Common Letter: <%=@most_letters_used_one%>, used <%=@most_letters_used_two%> times</h2>
